<template>
  <div>

  <div class="container" v-else-if grid-list-xl>

      <div xs4
              v-for="(item, index) in columns"
              :key="index"
              mb-2>

              <h2>{{item.field}}</h2>
              <div>Label: {{item.label}}</div>
        <br>




      </div>
    <div xs4
         v-for="(item, index) in data"
         :key="index"
         mb-2>

      <h2>{{item}}</h2>
      <br>




    </div>

  </div>

    </div>
</template>
<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        columns: [],
        loading: true,
        data: [],
      }
    },
    mounted () {
      // axios
      //   .get('http://159.65.113.20:5000/api/query')
      //   .then(response => {
      //     this.wholeResponse = response.data;
      //     this.loading = false
      //   })
      //   .catch(error => {
      //     console.log(error)
      //   });
      axios.post('http://159.65.113.20:5000/api/query', {

        "statistics": 1,
        "query": "SELECT * from logs.django_logs;"


    })
        .then((response) => {
          let resp = response.data[0]['col_name'];
          let d = response.data[0]['response'];
          console.log(response);
          let r = null;
          let i = null;
          // this.wholeResponse = resp;
          for (r in resp){
            // console.log(resp[r]);
            this.columns.push(resp[r]);

          }
          this.data = Object.keys(d).map(function(key){return d[key]});
          console.log(this.columns)
        })
        .catch(function (error) {
          console.log(error);
        });


    }
  }
</script>

