<template>

  <!--<h1 class="ui center aligned header">Logs Storage System</h1>-->

    <section class="hero is-light is-small ">

      <div class="hero-body">

        <div id="head" class="container">
          <img src="../assets/elesh.png"style="height: 10%; width:10%">
          <h1 class="title">
            ELESH
          </h1>
          <h2 class="subtitle">
            Logs Storage System
          </h2>
        </div>
      </div>
    </section>

</template>

<!--<style>-->
  <!--#header{-->
    <!--text-align: center;-->
  <!--}-->
<!--</style>-->

