<template>
  <div class="container">
      <div class="codemirror">
        <!-- codemirror -->
        <codemirror  v-model="query" :options="cmOption" @update="updateQuery(query)"></codemirror>
      </div>
    <h1>{{query}}</h1>
  </div>
</template>

<script>
  // language
  import 'codemirror/mode/sql/sql.js'
  // theme css
  import 'codemirror/theme/darcula.css'
  export default {
    data() {
      return {
        // code: this.$store.getters.query,
        query: this.$store.getters.query,
        cmOption: {
          tabSize: 4,
          styleActiveLine: true,
          lineNumbers: true,
          line: true,
          mode: 'text/x-sql',
          theme: 'darcula'
        }
      }
    },

    methods:{
      updateQuery(q){
        // getQuery();
        this.$store.commit('updateQuery', q)
      },

    },
    computed: {
      // query: {
      //
      //   get: function () {
      //     return this.$store.getters.query
      //   }
      //   //   query(){return this.$store.getters.query},
      // },

    }
  }
</script>
