<template>
  <b-table
    :headers="headers"
    :items="desserts"
    class="elevation-1"
    dark
  >
    <template v-slot:items="props">
      <!--<td>{{ props. }}</td>-->
      <td >{{ props.item.time }}</td>
      <td >{{ props.item.message }}</td>

    </template>
  </b-table>
</template>

<script>
  export default {
    data () {
      return {
        headers: [

          // { text: 'id', value: 'id' },
          { text: 'TIME', value: 'time' },
          { text: 'MESSAGE', value: 'message' },
        ],
        desserts: [
        {

          "time": "Mon Sep 19 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 20 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "./node_modules/babel-loader/lib!./node_modules/vue-loader/lib/selector.js?type=script&index=0!./src/views/Home.vue 18:0-52\n"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:19pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2019 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        },
        {

          "time": "Mon Sep 18 2017 12:40pm",
          "message": "ERROR in ./src/main.js Module build failed: SyntaxError: Unexpected token (9:0)"
        }
        ]
      }
    }
  }
</script>
