<template>
  <div class="container">
  <section>
    <b-field>
      <b-input placeholder="Search..."
               type="orange"
               icon="magnify"
               @change="getQuery"
               v-model="name"
               >
      </b-input>

      <p class="control">
        <button class="button is-primary orange" @click="saveQuery">Search</button>
      </p>
      <h1>{{query}}</h1>


    </b-field>

  </section>
  </div>
</template>

<script>

  export default {
    data(){
      return {
        name: '',
      }
    },
    computed: {
      query() {
        return this.$store.getters.query
      }
    },
    methods: {
      saveQuery() {
        this.$store.commit('addQuery', this.name)
      },

      getQuery(e){
        this.query = e.target.query;
        this.$store.dispatch('getQuery', e.target.value)
      }

    }
  }
</script>

