<template>
  <div id="current-todos" class="container">
    <h3>Saved queries</h3>
    <ul class="list-group">
      <li class="list-group-item" v-for="q in queries">
        {{q}}
        <div class="btn-group">
          <button type="button" @click="edit(query)" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </button>
          <button type="button" @click="updateQuery(q)" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok-circle"></span> Run
          </button>
          <button type="button" @click="remove(query)" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-remove-circle"></span> Remove
          </button>
        </div>

      </li>
    </ul>
  </div>
</template>
<script>
  export default{

      methods:{
        updateQuery(q){
          console.log(q);
          this.$store.commit('updateQuery', q.body)
        }

    },
    computed: {
      queries(){
        return this.$store.getters.queries
      }
    }
  }
</script>
<!--<style>-->
  <!--.btn-group{-->
    <!--float: right;-->
  <!--}-->
<!--</style>-->
