<template>
  <div>
    <codemirror v-model="query" :options="cmOptions"></codemirror>
  </div>
</template>

<script>
  import { codemirror } from 'vue-codemirror';
  import 'codemirror/lib/codemirror.css';
  export default {
    data() {
      return {
        // query: "SELECT * from logs.django_logs;",
        cmOptions: {
          // codemirror options
          tabSize: 4,
          mode: 'text/x-sql',
          lineNumbers: true,
          line: true,
          highlightDifferences: true
        }
      };

    },


      components: {codemirror},

      computed: {
        query() {
          return this.$store.getters.query
        },
        codemirror() {
          return this.$refs.query.codemirror
        }
      },





      mounted() {
        this.highlightSyntax();
      },

      methods: {

        onCmReady(cm) {
          console.log('the editor is readied!', cm)
        },
        onCmFocus(cm) {
          console.log('the editor is focus!', cm)
        },
        onCmCodeChange(newCode) {
          console.log('this is new code', newCode)
          this.code = newCode
        },
      },


  }

</script>
<!--<style>-->
  <!--#code {-->
    <!--/*margin-top: 20px;*/-->
  <!--//position: center;-->
    <!--width: 100%;-->
    <!--padding: 20px;-->
  <!--}-->
<!--</style>-->
