<template>
  <section>
    {{query}}
    <div class="container">
      <h1 v-model="columns"></h1>
      <button class="button is-primary orange" @click="runQuery">Run query</button>
    </div>
  <b-field grouped group-multiline>
    <b-select v-model="defaultSortDirection">
      <option value="asc">Default sort direction: ASC</option>
      <option value="desc">Default sort direction: DESC</option>
    </b-select>
    <b-select v-model="perPage" :disabled="!isPaginated">
      <option value="5">5 per page</option>
      <option value="10">10 per page</option>
      <option value="15">15 per page</option>
      <option value="20">20 per page</option>
    </b-select>
    <div class="control">
      <button class="button" @click="currentPage = 1" :disabled="!isPaginated">To beginning</button>
    </div>
    <div class="control is-flex">
      <b-switch type="orange" v-model="isPaginated">Paginated</b-switch>
    </div>
    <div class="control is-flex">
      <b-switch type="orange" v-model="isPaginationSimple" :disabled="!isPaginated">Simple pagination</b-switch>
    </div>
  </b-field>
    <b-table
      :data="data"
      :columns="columns"
      :paginated="isPaginated"
      :per-page="perPage"
      :current-page.sync="currentPage"
      :pagination-simple="isPaginationSimple"
      :default-sort-direction="defaultSortDirection"
      default-sort="user.first_name"
      aria-next-label="Next page"
      aria-previous-label="Previous page"
      aria-page-label="Page"
      aria-current-label="Current page">
    </b-table>
  </section>
</template>

<script>
  // const data = require("./sample");
  import axios from 'axios'


  export default {
    data() {
      return {
        columns: [],
        loading: true,
        data: [],
        isPaginated: true,
        isPaginationSimple: false,
        defaultSortDirection: 'asc',
        currentPage: 1,
        perPage: 5,

      }
    },
    computed:{
      query() {
        return this.$store.getters.query
      },
    },
    methods:{
      runQuery() {
        axios.post('http://159.65.113.20:5000/api/query', {

          "statistics": 1,
          "query": this.query


        })
          .then((response) => {
            this.columns = [];
            this.data = [];
            console.log(response.data);
            let resp = response.data[0]['col_name'];
            let d = response.data[0]['response'];
            console.log(response);
            let r = null;
            let i = null;
            // this.wholeResponse = resp;
            for (r in resp) {
              // console.log(resp[r]);
              this.columns.push(resp[r]);

            }
            this.data = Object.keys(d).map(function (key) {
              return d[key]
            });
            console.log(this.columns)
          })
          .catch(function (error) {
            console.log(error);
          });
      }
      }

    // mounted () {
    //   // axios
    //   //   .get('http://159.65.113.20:5000/api/query')
    //   //   .then(response => {
    //   //     this.wholeResponse = response.data;
    //   //     this.loading = false
    //   //   })
    //   //   .catch(error => {
    //   //     console.log(error)
    //   //   });
    //   axios.post('http://159.65.113.20:5000/api/query', {
    //
    //     "statistics": 1,
    //     "query": this.query
    //
    //
    //   })
    //     .then((response) => {
    //       let resp = response.data[0]['col_name'];
    //       let d = response.data[0]['response'];
    //       console.log(response);
    //       let r = null;
    //       let i = null;
    //       // this.wholeResponse = resp;
    //       for (r in resp){
    //         // console.log(resp[r]);
    //         this.columns.push(resp[r]);
    //
    //       }
    //       this.data = Object.keys(d).map(function(key){return d[key]});
    //       console.log(this.columns)
    //     })
    //     .catch(function (error) {
    //       console.log(error);
    //     });
    //
    //
    // }
  }
</script>
<style>
  th{
    background: #ff8000;
    color: white;
  }
  td{
    color: white;
    background: #413D3D;
  }

  .pagination-link.is-current{
    background-color: orange;
    border-color: orange;
  }
  .select:not(.is-multiple):not(.is-loading)::after{
    border-color: orange;
  }

</style>
