<template>
  <div id="app">
    <Header />
    <!--<Debugger></Debugger>-->
    <SavedQueries />
    <NameField />
    <!--<SearchField />-->
    <div class="container is-fluid">
    <Highlight></Highlight>
    <!--<LogTable />-->
    <Table></Table>
    </div>

  </div>
</template>
<script>

  import LogTable from "../components/LogTable";
  import NameField from '../components/NameField.vue';
  import SavedQueries from '../components/SavedQueries.vue';
  import SearchField from '../components/SearchField';
  import Header from "../components/Header";
  import Highlight from "../components/Highlight";
  import Table from "../components/Table";
  import Debugger from "../components/Debugger";
  export default {
    name: 'app',
    components: {LogTable, NameField, SavedQueries, SearchField, Header, Highlight, Table, Debugger}
  }
</script>


